<h2>Input Forms</h2>

<form [formGroup]="userForm" (ngSubmit)="submit()">
  <div class="form-group">
    <label for="name">Nama:</label>
    <input type="text" id="name" formControlName="name" />
    <div class="error-message" *ngIf="userForm.get('name')?.invalid && userForm.get('name')?.touched">
      <span *ngIf="userForm.get('name')?.errors?.['required']">Nama wajib diisi.</span>
      <span *ngIf="userForm.get('name')?.errors?.['minlength']">Nama minimal 3 karakter.</span>
    </div>
  </div>

  <div class="form-group">
    <label for="age">Umur:</label>
    <input type="number" id="age" formControlName="age" />
    <div class="error-message" *ngIf="userForm.get('age')?.invalid && userForm.get('age')?.touched">
      <span *ngIf="userForm.get('age')?.errors?.['required']">Umur wajib diisi.</span>
    </div>
  </div>

  <div class="form-group">
    <label for="job">Pekerjaan:</label>
    <input type="text" id="job" formControlName="job" />
    <div class="error-message" *ngIf="userForm.get('job')?.invalid && userForm.get('job')?.touched">
      <span *ngIf="userForm.get('job')?.errors?.['required']">Pekerjaan wajib diisi.</span>
    </div>
  </div>

  <button type="submit" [disabled]="userForm.invalid">Add</button>
</form>
